.sidebar {

  width: 220px;
  height: 100vh;
  display: block;
  background-color: #ffffff;
  box-shadow: 8px 3px rgba(0, 0, 0, 0.1);

  a {
    width: 150px;
    display: block;
    padding: 15px;
    font-size: 20px;
    border-bottom: 1px solid rgb(79, 78, 78);
    color: black;
    span{
        font-size: 10px; 
        padding: 5px;
        float: left;
    }
  }
  .calendar {
    display: block;
  }
 
}
