.body{
    display: flex;
    .side {
      margin-top: 40px;
      margin-left: 4%;
      height: auto;
    }
    .container{
      background-color: #cce5ff;
        width: 77vw;
      height: auto;
    }
  }