@media screen and (max-width: 768px) {
    html{
        font-size: 10px;
    }
}

.auth-layout-container{
    width: 100%;
    background-color: rgb(236, 236, 236);
    overflow: auto;
}

.body{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding-inline: 1rem;
}