.container-main{
  width: 79rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .heading{
    width: 95%;
  }

  .body{
    display: flex;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 1rem;
    width: 95%;
    padding: 1rem;

    .side{
      width: 20%;
    }


    .doctor-body{
      width: 79%;
    }
  }
}