.sign-up-container{
    width: 100%;
    background-color: white;
    border: 1px solid rgb(229, 229, 229);
    box-shadow: 0 0 10px 0 rgb(196, 196, 196);
    border-radius: 0.5rem;
    min-height: 80vh;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;

    .left-sign-up-form{
        width: 49%;
        background-color: inherit;
        .title{
            .sign-up-form{
                .form-control{

                }

                .sign-up-btn{

                }
            }
        }
    }

    .right-sign-up-introduce{
        width: 49%;
        color: white;
        background-color: #065AD8;
        .title{

        }

        .introduce-img{

        }

        .end{

        }
    }
}